<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.1/sweetalert2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.1/sweetalert2.min.css">
  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
    <div class="rows">
      <ul id="dropdownSubject" class="dropdown-content">
        <li><a href="/subjects">List Subjects</a></li>
        <li><a href="/subjects/add">Add New Subject</a></li>
      </ul>
      <ul id="dropdownStudent" class="dropdown-content">
        <li><a href="/students">List Students</a></li>
        <li><a href="/students/add">Add New Student</a></li>
      </ul>
      <ul id="dropdownTeacher" class="dropdown-content">
        <li><a href="/teachers">List Teachers</a></li>
        <li><a href="/teachers/add">Add New Teacher</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper blue">
          <a href="/" class="brand-logo center">School App</a>
          <ul class="right">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdownSubject">Subject<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdownStudent">Student<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdownTeacher">Teacher<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
