<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <a href="/subjects">Subject</a>
    <a href="/teachers">Teacher</a>
    <a href="/students">Student</a>
  </body>
</html>
