<% include partials/header.ejs %>
  <br />
  <h2></h2>
  <div class="rows">
    <div class="col s12 center">
      <div class="card-panel teal lighten-2">
        <%= pageTitle %>
      </div>
    </div>
  </div>
  <br>
  <div class="collection">
    <% if(role == 'headmaster' || role == 'academic'){ %>
      <a href="/subjects" class="collection-item">Subject</a>
      <% }
    if(role == 'teacher' || role == 'headmaster' || role == 'academic'){
  %>
        <a href="/students" class="collection-item">Student</a>
        <% }
  if(role == 'headmaster') {
%>
          <a href="/teachers" class="collection-item">Teacher</a>
          <a href="/users" class="collection-item">User</a>
          <%
}
%>
  </div>
  <% include partials/footer.ejs %>
