<% include partials/header.ejs %>
  <br />
  <h2></h2>
  <div class="rows">
    <div class="col s12 center">
      <div class="card-panel teal lighten-2">
        <%= pageTitle %>
      </div>
    </div>
  </div>
  <br>
  <div class="collection">
    <a href="/subjects" class="collection-item">Subject</a>
    <a href="/students" class="collection-item">Student</a>
    <a href="/teachers" class="collection-item">Teacher</a>
  </div>
  <% include partials/footer.ejs %>
