<% include partials/header.ejs %>
  <br />
  <h2><%= message %></h2>
  <div class="rows">
    <div class="col s12 center">
      <div class="card-panel teal lighten-2">
        <%= pageTitle %>
      </div>
    </div>
  </div>
  <br>
  <div class="rows">
    <form class="" action="/login" method="post">
      <div class="input-field">
        <input type="text" name="username" placeholder="Username">
        <label for="username">Username</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
      <input type="submit" value="Log In" class="waves-effect waves-light btn">
    </form>
  </div>
  <% include partials/footer.ejs %>
