<% include partials/header.ejs %>
<br />
  <div class="rows">
    <div class="col s12 center">
      <div class="card-panel teal lighten-2">
        <a href="/subjects" class="btn-floating btn-large waves-effect waves-light red left"><i class="material-icons left">backspace</i></a>
        <%= pageTitle %>
      </div>
    </div>
  </div>
  <br >
  <div class="rows">
  <form action="/subjects/add" method="post">
    <div class="input-field">
      <input type="text" name="subject_name" placeholder=" Subject Name ">
      <label for="subject_name">Subject Name</label>
    </div>
    <input type="submit" value="SUBMIT" class="waves-effect waves-light btn">
  </form>
  </div>
  <% include partials/footer.ejs %>
