<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subject</title>
  </head>
  <body>
    <a href="/">Back</a>
    <br />
    <table border="5">
      <tr>
        <td>ID</td>
        <td>Subject Name</td>
      </tr>
      <%
        for(var i = 0;i<dataRows.length;i++) {
          %>
          <tr>
            <td><%= dataRows[i].id %></td>
            <td><%= dataRows[i].subject_name %></td>
          </tr>
          <%
        }
      %>
    </table>
  </body>
</html>
