<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ini Adalah Halaman Add Subject</h1>
  </body>
  <form class="" action="/subjects/add" method="post">
    <input type="text" name="subject_name" placeholder="Input Nama Subject" required>
    <input type="submit" value="SUBMIT">
  </form>
</html>
